<p>Кто-то (надеемся, что вы) запросил сброс пароля для аккаунта, связанного с этим Email на сайте {{ site_name }}.</p>

<p>Пожалуйста, перейдите по ссылке ниже, чтобы установить новый пароль:</p>

<p style="margin: 20px 0;">
    <a href="http://{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" 
       style="background-color: #FF7043; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block;">
        Установить новый пароль
    </a>
</p>

<p>Если ссылка выше не работает, скопируйте и вставьте ее в браузер:</p>
<p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>

<p>Ваше имя пользователя: {{ user.get_username }}</p>

<p>Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо. Ваш текущий пароль останется неизменным.</p>